.app {
  max-width: 1024px;
  margin: auto;
  position: relative;

  &__title {
    color: var(--black-color);
  }
}
.grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}